<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [4]:
#Import the necessary library
import numpy as np

In [5]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
np_olympic_country = np.array(['Great Britain','China','Russia','United States','Korea','Japan','Germany'])
np_country_code = np.array(['GBR','CHN','RUS','US','KOR','JPN','GER'])
np_country_gold = np.array([29,38,24,46,13,7,11])
np_country_silver = np.array([17,28,25,28,8,14,11])
np_country_bronze = np.array ([19,22,32,29,7,17,14])

#### Find the country with maximum gold medals

In [7]:
#Use the argmax() method to find the highest number of gold medals
max_gold_index = np_country_gold.argmax()
country_with_max_gold = np_olympic_country[max_gold_index]

'United States'

In [8]:
#Print the name of the country
country_with_max_gold

'United States'

#### Find the countries with more than 20 gold medals

In [9]:
#Use Boolean indexing technique to find the required output
print(np_olympic_country[np_country_gold>20])

['Great Britain' 'China' 'Russia' 'United States']

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [10]:
#Use a for loop to create the required output
for i in range(len(np_olympic_country)):
  gold_medal = np_country_gold[i]
  country = np_olympic_country[i]
  total_medal = np_country_gold[i]+np_country_silver[i]+np_country_bronze[i]
  print("{},gold medal {}, total medal {}".format(country,gold_medal,total_medal))

Great Britain,gold medal 29, total medal 65
China,gold medal 38, total medal 88
Russia,gold medal 24, total medal 81
United States,gold medal 46, total medal 103
Korea,gold medal 13, total medal 28
Japan,gold medal 7, total medal 38
Germany,gold medal 11, total medal 36