<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import required library
import numpy as np

In [4]:
#Manually add the dataset
countries= np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
gdp_per_capita= np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])

#### 2: Find and print the name of the country with the highest GDP

In [5]:
#Use the argmax() method to find the highest GDP
highest_gdp = gdp_per_capita.argmax()

In [7]:
#Print the name of the country
countries_with_highest_gdp = countries[highest_gdp]
countries_with_highest_gdp

'Norway'

#### 3: Find and print the name of the country with the lowest GDP

In [8]:
#Use the argmin() method to find the lowest GDP
lowest_gdp = gdp_per_capita.argmin()
countries_with_lowest_gdp = countries[lowest_gdp]

In [9]:
#Print the name of the country
countries_with_lowest_gdp

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [10]:
#Use a for loop to print the required output
for country in countries:
  print("escaluating countries {}".format(country))

escaluating countries Algeria
escaluating countries Angola
escaluating countries Argentina
escaluating countries Australia
escaluating countries Austria
escaluating countries Bahamas
escaluating countries Bangladesh
escaluating countries Belarus
escaluating countries Belgium
escaluating countries Bhutan
escaluating countries Brazil
escaluating countries Bulgaria
escaluating countries Cambodia
escaluating countries Cameroon
escaluating countries Chile
escaluating countries China
escaluating countries Colombia
escaluating countries Cyprus
escaluating countries Denmark
escaluating countries El Salvador
escaluating countries Estonia
escaluating countries Ethiopia
escaluating countries Fiji
escaluating countries Finland
escaluating countries France
escaluating countries Georgia
escaluating countries Ghana
escaluating countries Grenada
escaluating countries Guinea
escaluating countries Haiti
escaluating countries Honduras
escaluating countries Hungary
escaluating countries India
escaluating countries Indonesia
escaluating countries Ireland
escaluating countries Italy
escaluating countries Japan
escaluating countries Kenya
escaluating countries South Korea
escaluating countries Liberia
escaluating countries Malaysia
escaluating countries Mexico
escaluating countries Morocco
escaluating countries Nepal
escaluating countries New Zealand
escaluating countries Norway
escaluating countries Pakistan
escaluating countries Peru
escaluating countries Qatar
escaluating countries Russia
escaluating countries Singapore
escaluating countries South Africa
escaluating countries Spain
escaluating countries Sweden
escaluating countries Switzerland
escaluating countries Thailand
escaluating countries United Arab Emirates
escaluating countries United Kingdom
escaluating countries United States
escaluating countries Uruguay
escaluating countries Venezuela
escaluating countries Vietnam
escaluating countries Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [13]:
#Use a for loop to print the required list
for i in range(len(countries)):
  country = countries[i]
  countries_gdp_per_capita = gdp_per_capita[i]
  x= print("country {} gdp per capita {}".format(country,countries_gdp_per_capita))
  x

country Algeria gdp per capita 2255.225482
country Angola gdp per capita 629.9553062
country Argentina gdp per capita 11601.63022
country Australia gdp per capita 25306.82494
country Austria gdp per capita 27266.40335
country Bahamas gdp per capita 19466.99052
country Bangladesh gdp per capita 588.3691778
country Belarus gdp per capita 2890.345675
country Belgium gdp per capita 24733.62696
country Bhutan gdp per capita 1445.760002
country Brazil gdp per capita 4803.398244
country Bulgaria gdp per capita 2618.876037
country Cambodia gdp per capita 590.4521124
country Cameroon gdp per capita 665.7982328
country Chile gdp per capita 7122.938458
country China gdp per capita 2639.54156
country Colombia gdp per capita 3362.4656
country Cyprus gdp per capita 15378.16704
country Denmark gdp per capita 30860.12808
country El Salvador gdp per capita 2579.115607
country Estonia gdp per capita 6525.541272
country Ethiopia gdp per capita 229.6769525
country Fiji gdp per capita 2242.689259
country Finland gdp per capita 27570.4852
country France gdp per capita 23016.84778
country Georgia gdp per capita 1334.646773
country Ghana gdp per capita 402.6953275
country Grenada gdp per capita 6047.200797
country Guinea gdp per capita 394.1156638
country Haiti gdp per capita 385.5793827
country Honduras gdp per capita 1414.072488
country Hungary gdp per capita 5745.981529
country India gdp per capita 837.7464011
country Indonesia gdp per capita 1206.991065
country Ireland gdp per capita 27715.52837
country Italy gdp per capita 18937.24998
country Japan gdp per capita 39578.07441
country Kenya gdp per capita 478.2194906
country South Korea gdp per capita 16684.21278
country Liberia gdp per capita 279.2204061
country Malaysia gdp per capita 5345.213415
country Mexico gdp per capita 6288.25324
country Morocco gdp per capita 1908.304416
country Nepal gdp per capita 274.8728621
country New Zealand gdp per capita 14646.42094
country Norway gdp per capita 40034.85063
country Pakistan gdp per capita 672.1547506
country Peru gdp per capita 3359.517402
country Qatar gdp per capita 36152.66676
country Russia gdp per capita 3054.727742
country Singapore gdp per capita 33529.83052
country South Africa gdp per capita 3825.093781
country Spain gdp per capita 15428.32098
country Sweden gdp per capita 33630.24604
country Switzerland gdp per capita 39170.41371
country Thailand gdp per capita 2699.123242
country United Arab Emirates gdp per capita 21058.43643
country United Kingdom gdp per capita 28272.40661
country United States gdp per capita 37691.02733
country Uruguay gdp per capita 9581.05659
country Venezuela gdp per capita 5671.912202
country Vietnam gdp per capita 757.4009286
country Zimbabwe gdp per capita 347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [18]:
print(gdp_per_capita.max())
print(gdp_per_capita.min())
print(gdp_per_capita.mean())
print(gdp_per_capita.std())
print(gdp_per_capita.sum())

40034.85063
229.6769525
11289.409271639683
12743.828910617945
711232.7841133